* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: rgb(9, 9, 71); 
  z-index: 1000;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: rgb(8, 8, 44);
  color: #fff;
  padding-top: 90px;
}

html {
  scroll-behavior: smooth;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  padding-left: 120px;
}


nav a {
  margin: 0 20px;
  color: #ccc;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  transition: 0.3s ease;
}

nav a:hover {
  color: #fff;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 80px 60px;
  flex-wrap: wrap;
  text-align: center;
}

.hero-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
}

.hero-text h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.4;
}

.gradient-text {
  background: linear-gradient(to right, #cc00ff, #ff6600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.white {
  color: white;
}

.hero-text p {
  font-size: 1rem;
  color: #bbb;
  max-width: 600px;
  margin: 0 auto 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-gradient {
  padding: 12px 24px;
  background: linear-gradient(to right, #cc00ff, #ff6600);
  color: #fff;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
}

.btn-outline {
  padding: 12px 24px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background: #fff;
  color: #000;
}

.about {
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;
  text-align: center;
  color: #ddd;
}

.about h2 {
  font-size: 2.2rem;
  margin-bottom: 50px;
  color: #fff;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 16px;
}

/* Project Section */
.projects {
  padding: 70px 60px;
  color: white;
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 70px;
  position: relative;
  display: inline-block;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 70px;
  max-width: 1500px;
  margin: 0 auto;
}

.project-card {
  border: 1px solid #444;
  border-radius: 16px;
  padding: 30px 25px;
  text-align: left;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.02);
}

.project-card:hover {
  border-color: #cc00ff;
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-5px);
}

.project-card h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ff6600;
}

.project-card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-links a {
  background: transparent;
  border: 1px solid #cc00ff;
  color: #cc00ff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 0.3s;
}

.project-links a:hover {
  background-color: #cc00ff;
  color: white;
}
/*Experience*/
#experience {
  color: white;
  padding: 60px 20px;
  text-align: center;
}

#experience h2 {
  font-size: 2.5rem;
  margin-bottom: 60px;
  color: white
}

.experience-list {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.experience-item {
  margin-bottom: 40px;
}

.experience-item h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 5px;
}

.experience-item h3 span {
  font-weight: 400;
  color: #bbbbbb;
}

.duration {
  font-size: 0.9rem;
  color: #aaaaaa;
  margin-bottom: 10px;
}

.experience-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: #dddddd;
}
/*Contact*/
#contact {
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.contact-subtitle {
  font-size: 1rem;
  color: #bbb;
  margin-bottom: 10px;
}

.contact-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 40px;
}

.contact-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  border: 1px solid #ccc;
  padding: 25px 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  max-width: 800px;
  margin: auto;
}

.contact-link {
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.contact-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-link i {
  font-size: 1.2rem;
}

.footer {
  background-color: rgb(1, 1, 49);
  color: #ccc;
  text-align: center;
  padding: 20px 10px;
  font-size: 0.95rem;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(9, 9, 71);
    width: 100%;
    position: absolute;
    top: 65px;
    left: 0;
    padding: 20px 0;
    border-top: 1px solid #444;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .btn-outline {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}
